.fondo{
    background-image: url("img/fondo.jpg");
    font-family: fuenteExterna;
    letter-spacing: 2px

}
@font-face {
    font-family: fuenteExterna;
    src: url(arcade.TTF);         

}
.login{
    background-image: url("img/fondo_login.jpg");
    font-family: fuenteExterna;
    letter-spacing: 2px
}